
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="TcPgCnDcOJ">
    <link rel="apple-touch-icon" href="https://www.django.cn/static/images/icon-touch.png">
    <link rel="icon" sizes="192x192" href="https://www.django.cn/static/images/icon-touch.png">
    <link rel="shortcut icon" href="https://www.django.cn/static/images/favicon.ico">
    
    <title>关于我们-Django,Django中文网！</title>
    <meta name="keywords" content="django教程,django,django社区,django中文">
    <meta name="description" content="Django中文社区,是一个Django开发者和Django爱好者交流的社区,这里有很多django教程和django技术文档,欢迎广大喜欢Django的朋友加入！">
    
    <meta name="theme-color" content="#ffffff">
    <link href="static/css/fonts.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/toastr.min.css" rel="stylesheet">
    <link href="static/css/app.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
     
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/highlight.min.js"></script>
    <script src="static/js/toastr.min.js"></script>

   <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9b0ccd50ff8935f331889174a8280dc2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div style='text-align: center;font-size: 20px'>确定删除?</div>
            </div>
            <div class="modal-footer">
                <form action="/comment/" method="POST" id='delete_comment' style='float: left'>
                    <input type="hidden" name="csrfmiddlewaretoken" value="zZqOLzw950yX4iFSEy4ytAZ8uL91RK1z1kMuBk9EEC4F0hZp6JBLSmetnpcZqU6g">
                    <input type="hidden" name="tag">
                    <input type="hidden" name="aid">
                    <input type="hidden" name="id">
                    <input type="hidden" name="method" value='delete'>
                    <input type='button' class="btn btn-danger btn-ok" id='btn_delete_comment' value='删除'>
                </form>
                <!-- <a class="btn btn-danger btn-ok"><span>删除</span></a> -->
                <button type="button" class="btn btn-default" data-dismiss="modal"><span>取消</span></button>
            </div>
        </div>
    </div>
</div>


    <div class="page__wrapper page--landing">
   
<header class="header--main animate-search">

    
    <div class="container-fluid">
        <nav class="nav--main">
            <div class="nav__logo">
                <a href="index.html">
                    <span>Django中文网</span>
                </a>
            </div>

            
                <ul class="nav__items nav__items--right">
                    <li class="nav__item">
                        <a href="search.html" class="search-trigger icon-magnifier"></a>
                    </li>
                    <li id="login" class="nav__item">
                        <a href="login.html">
                            登录
                        </a>
                    </li>
                    <li id="register" class="nav__item">
                        <a href="register.html">
                            <span class="btn btn-success">注册</span>
                        </a>
                    </li>
                </ul>

            

            <ul class="nav__items nav__items--left">
                <li class="nav__item nav__item--main">
                    <a href="article.html" class="articles ">
                        文章
                    </a>
                </li>
                 <li class="nav__item nav__item--main">
                    <a href="course.html" class="posts ">
                        教程
                    </a>
                </li>
                <li class="nav__item nav__item--main">
                    <a href="video.html" class="posts ">
                        视频
                    </a>
                </li>
                <li class="nav__item nav__item--main">
                     <a href="forum.html" class="posts ">
                        社区
                    </a>
                </li>
            </ul>


        </nav> <!-- .nav--main -->
    </div>


    <a href="#0" class="nav-trigger icon-menu"></a>

    <div id="search" class="main-search">
    <div class="container-fluid">
        <form id="search-form-top" class="form__search" action="/search/" method="GET">
        <input type="search" name="search" placeholder="Search..." value="" autocomplete="off" required="">

</form>

        <div class="search-suggestions">

        </div>
        <a href="#0" class="close text-replace">Close Form</a>
    </div>
</div> <!-- .main-search -->
</header>

<div class="cover-layer"></div> <!-- cover main content when search form is open -->


    
    <div class="cover-layer"></div>
    <!-- cover main content when search form is open -->
    <main class="main-content" style=" margin-top:40px;">
            <div class="content-wrapper">
        <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <article class="post privacy-policy">
                <div class="post__header">
                    <div class="post__title">
                        <h2>关于Django中文网</h2>
                    </div>
                </div>

                <div class="post__body">

                    <p>
                        Django中文网，<a href="index1.html">www.django.cn</a> ，是Django爱好者，Django开发者交流之地，欢迎更多喜欢Django的人加入！
                    </p>

                    <p>
                      在这里，你可以分享你对开源社区的贡献，也可以享受开源带给我们的便利；你可以结识到更多志同道合的朋友，也可能会遇到更好的人生机会；你可以讨论最新最潮的技术，也可以分享你的经验和知识。
                    </p>


            				<h3>技术交流</h3>

                    <p>
                        如果你想和更多的Django爱好者进行技术交流，或者分享心得与经验。你可以通过网站右上角的 <a href="login.html">注册</a> 链接，注册一个帐号，成为我们的网站会员。这样就可以在论坛上发表帖子寻求帮助或者分享心得。
                    </p>
                    <p>
                      当然，你也可以加入我们的QQ群，与我们交流，群一：790926933，群二:458442474
                    </p>

                </div>
            </article>
        </div>
    </div>
</div>
    </div>
    </main>
    
    
    <footer>
	 <h3>加入Django中文交流社区，分享交流，携手同行</h3>

	  <ul class="list-inline">
				<li><a href="index.html" class="neon">首 页</a></li>
				<li><a href="article.html" class="neon">文 章</a></li>
                <li><a href="course.html" class="neon">教 程</a></li>
                <li><a href="video.html" class="neon">视 频</a></li>
				<li><a href="forum.html" class="neon">社 区</a></li>
				<li><a href="" class="neon">关于我们</a></li>
				<li><a href="contact.html" class="neon">联系我们</a></li>

	  </ul>

		<p class="copyright">Copyright © 2018 <a href="index1.html" target="_blank">django.cn</a>
			<span class="second-line">All Rights Reserved.</span><br>
            Powered by <a href="index.html">Django3</a><br>
           <a href="https://beian.miit.gov.cn" target="_blank">备案号：湘ICP备17023990号-1</a>
		</p>
</footer>

</div>

    <!-- JavaScripts -->

    <script type="text/javascript">

  $('#confirm-delete').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  // var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var aid = button.data('aid')
  var id = button.data('id')
  var tag = button.data('tag')
  var modal = $(this)
  // modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('input[name="aid"]').val(aid)
  modal.find('input[name="id"]').val(id)
  modal.find('input[name="tag"]').val(tag)

  // console.log('ok')
})

  // btn_delete_comment
  $('#btn_delete_comment').click(function(event){
    // var form = new FormData(document.getElementById("delete_comment"))
    // var pwd1 = $('#change-pwd [name="password1"]').val()
    console.log('in comment delete')
    var aid = $('#delete_comment [name="aid"]').val()
    var id = $('#delete_comment [name="id"]').val()
    var tag = $('#delete_comment [name="tag"]').val()
    var token = $('#delete_comment [name="csrfmiddlewaretoken"]').val()
    if(!tag){
        return
    }

    var form = new FormData();
    form.append("id", 'id');
    form.append("csrfmiddlewaretoken", token);
    form.append('method','delete')

        $.ajax({
            type: 'POST',
            url: '/comment/'+id+'/',
            // data:'json',
            processData: false,
            contentType: false,
            data: form,
            success: function(response) {
                if(tag == 'forum'){
                    window.location.href = '/forum/forum-'+aid+'.html';
                }
                if(tag == 'article'){
                    window.location.href = '/article/show-'+aid+'.html';
                }
                if(tag == 'course'){
                    window.location.href = '/course/show-'+aid+'.html';
                }
            }
        })
  })
</script>
 <script src="static/js/bundle.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>
