
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="TcPgCnDcOJ">
    <link rel="apple-touch-icon" href="https://www.django.cn/static/images/icon-touch.png">
    <link rel="icon" sizes="192x192" href="https://www.django.cn/static/images/icon-touch.png">
    <link rel="shortcut icon" href="https://www.django.cn/static/images/favicon.ico">
    
    <title>Django文章,Django教程,Django文档-Django社区,Django中文网,django！</title>
    <meta name="keywords" content="django教程,django,django社区,django中文">
    <meta name="description" content="Django文章,Django教程,Django文档,Django相关资讯你都可以在这里找到！">
    
    <meta name="theme-color" content="#ffffff">
    <link href="static/css/fonts.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/toastr.min.css" rel="stylesheet">
    <link href="static/css/app.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
     
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/highlight.min.js"></script>
    <script src="static/js/toastr.min.js"></script>

   <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9b0ccd50ff8935f331889174a8280dc2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div style='text-align: center;font-size: 20px'>确定删除?</div>
            </div>
            <div class="modal-footer">
                <form action="/comment/" method="POST" id='delete_comment' style='float: left'>
                    <input type="hidden" name="csrfmiddlewaretoken" value="z27lRqp469Dg5o7vkuvI7FYRNXXYNS8k1nt1Hb2zFL9Y1nr2MF2VwrdcGB0Wm2d1">
                    <input type="hidden" name="tag">
                    <input type="hidden" name="aid">
                    <input type="hidden" name="id">
                    <input type="hidden" name="method" value='delete'>
                    <input type='button' class="btn btn-danger btn-ok" id='btn_delete_comment' value='删除'>
                </form>
                <!-- <a class="btn btn-danger btn-ok"><span>删除</span></a> -->
                <button type="button" class="btn btn-default" data-dismiss="modal"><span>取消</span></button>
            </div>
        </div>
    </div>
</div>


    <div class="page__wrapper page--landing">
   
    <header class="header--main animate-search">

    
    <div class="container-fluid">
        <nav class="nav--main">
            <div class="nav__logo">
                <a href="index.html">
                    <span>Django中文网</span>
                </a>
            </div>

            
                <ul class="nav__items nav__items--right">
                    <li class="nav__item">
                        <a href="search.html" class="search-trigger icon-magnifier"></a>
                    </li>
                    <li id="login" class="nav__item">
                        <a href="login.html">
                            登录
                        </a>
                    </li>
                    <li id="register" class="nav__item">
                        <a href="register.html">
                            <span class="btn btn-success">注册</span>
                        </a>
                    </li>
                </ul>

            

            <ul class="nav__items nav__items--left">
                <li class="nav__item nav__item--main">
                    <a href="article.html" class="articles ">
                        文章
                    </a>
                </li>
                 <li class="nav__item nav__item--main">
                    <a href="course.html" class="posts ">
                        教程
                    </a>
                </li>
                <li class="nav__item nav__item--main">
                    <a href="video.html" class="posts ">
                        视频
                    </a>
                </li>
                <li class="nav__item nav__item--main">
                     <a href="forum.html" class="posts ">
                        社区
                    </a>
                </li>
            </ul>


        </nav> <!-- .nav--main -->
    </div>


    <a href="#0" class="nav-trigger icon-menu"></a>

    <div id="search" class="main-search">
    <div class="container-fluid">
        <form id="search-form-top" class="form__search" action="/search/" method="GET">
        <input type="search" name="search" placeholder="Search..." value="" autocomplete="off" required="">

</form>

        <div class="search-suggestions">

        </div>
        <a href="#0" class="close text-replace">Close Form</a>
    </div>
</div> <!-- .main-search -->
</header>

<div class="cover-layer"></div> <!-- cover main content when search form is open -->


    

    <main class="main-content" style="margin-top: 20px;">
        <div class="content-wrapper">
            <div class="container-fluid articles">
                <div class="row">
                    <div class="section-header">
                <!--<a href="https://jq.qq.com/?_wv=1027&k=0kNpqlZH" target="_blank"><img src="/static/img/web1.jpg" class="align-self-center mx-auto"></a> <br />-->
                        <h2>Articles</h2>
                        <ul class="section-header__subheading article__tags text-center">
                            <li style="font-size: large">
                                <a href="article.html">全部</a>
                            </li>
                            
                                <li style="font-size: large" class='active'>
                                    <a href="">Django </a>
                                </li>
                            
                                <li style="font-size: large">
                                    <a href="article-python.html">python </a>
                                </li>
                            
                                <li style="font-size: large">
                                    <a href="article-Bootstrap.html">Bootstrap </a>
                                </li>
                            
                                <li style="font-size: large">
                                    <a href="article-Vue.html">Vue </a>
                                </li>
                            
                                <li style="font-size: large">
                                    <a href="article-AdminUI.html">AdminUI </a>
                                </li>
                            
                                <li style="font-size: large">
                                    <a href="article-E78EAFE5A283E983A8E7BDB2.html">环境部署 </a>
                                </li>
                            
                        </ul>
                     
                    </div>
                    
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-39.html" title="Django5.0正式发布，是你期待的吗？">
                                <div class="article__image" style="background-image: url(static/image/12653.png )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-39.html" title="Django5.0正式发布，是你期待的吗？">
                                        <h3>Django5.0正式发布，是你期待的吗？</h3>
                                    </a>
                                    <p>
                                       最近，Django 5.0 已经正式发布，这个新版本在保持一贯的优良特性的同时，还带来了一
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-39.html" title="View comments">
                                        <span>1</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2023年12月8日 14:39">
                                        2023年12月08日  点击:2199
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-37.html" title="几个例子让新手快速了解Django REST Framework (DRF)">
                                <div class="article__image" style="background-image: url(static/image/drf.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-37.html" title="几个例子让新手快速了解Django REST Framework (DRF)">
                                        <h3>几个例子让新手快速了解Django REST Framework (DRF)</h3>
                                    </a>
                                    <p>
                                       Django REST Framework (DRF) 是基于 Django 框架的一个强
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-37.html" title="View comments">
                                        <span>0</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2023年2月22日 03:22">
                                        2023年02月22日  点击:6183
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-35.html" title="Django-Q，轻量级消息队列Django-Q初体验">
                                <div class="article__image" style="background-image: url(static/image/djangoQ_Z4PNibz.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-35.html" title="Django-Q，轻量级消息队列Django-Q初体验">
                                        <h3>Django-Q，轻量级消息队列Django-Q初体验</h3>
                                    </a>
                                    <p>
                                       Celery实在是太重了，后来我做公众号采集平台的时候，又接触了Django-RQ和Dja
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-35.html" title="View comments">
                                        <span>0</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2022年9月12日 18:13">
                                        2022年09月12日  点击:10871
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-34.html" title="简单讲解Django分页Paginator和Page的用法">
                                <div class="article__image" style="background-image: url(static/image/Paginator.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-34.html" title="简单讲解Django分页Paginator和Page的用法">
                                        <h3>简单讲解Django分页Paginator和Page的用法</h3>
                                    </a>
                                    <p>
                                       在 Django 中实现分页功能非常简单。因为 Django 已经内置了两个处理分类的类。
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-34.html" title="View comments">
                                        <span>0</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2022年2月3日 13:20">
                                        2022年02月03日  点击:9971
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-33.html" title="django4.0版本到底有哪些新功能和特性？">
                                <div class="article__image" style="background-image: url( static/image/default.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-33.html" title="django4.0版本到底有哪些新功能和特性？">
                                        <h3>django4.0版本到底有哪些新功能和特性？</h3>
                                    </a>
                                    <p>
                                       最近两年，django版本更新速度很快，但功能却没有太大变化 。下面和大家说说django
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-33.html" title="View comments">
                                        <span>0</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2022年1月9日 17:32">
                                        2022年01月09日  点击:24513
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-31.html" title="Django入门视频教程之Blog开发详解">
                                <div class="article__image" style="background-image: url(static/image/django-blog.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-31.html" title="Django入门视频教程之Blog开发详解">
                                        <h3>Django入门视频教程之Blog开发详解</h3>
                                    </a>
                                    <p>
                                       这是一个Django入门教程，主要是通过一个Blog项目结合来讲解Django基础知识，适
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-31.html" title="View comments">
                                        <span>0</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2022年1月7日 15:51">
                                        2022年01月07日  点击:9389
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-29.html" title="pycharm常用快捷键介绍及十大实用技巧">
                                <div class="article__image" style="background-image: url(static/image/kuaijie.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-29.html" title="pycharm常用快捷键介绍及十大实用技巧">
                                        <h3>pycharm常用快捷键介绍及十大实用技巧</h3>
                                    </a>
                                    <p>
                                       毫无疑问Pycharm是一个具有强大快捷键系统的IDE，这就意味着你在Pycharm中的任
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-29.html" title="View comments">
                                        <span>2</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2020年4月14日 16:31">
                                        2020年04月14日  点击:18406
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-28.html" title="支持异步？django3新特性ASGI初体验">
                                <div class="article__image" style="background-image: url(static/image/django30.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-28.html" title="支持异步？django3新特性ASGI初体验">
                                        <h3>支持异步？django3新特性ASGI初体验</h3>
                                    </a>
                                    <p>
                                       django3.0的三个重要特性是ASGI、支持MariaDB10.1+和自定义枚举类型（
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-28.html" title="View comments">
                                        <span>1</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2020年4月2日 23:42">
                                        2020年04月02日  点击:17447
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-27.html" title="Django3.0 Alpha 发布，此版本将不再支持Python3.5">
                                <div class="article__image" style="background-image: url( static/image/default.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-27.html" title="Django3.0 Alpha 发布，此版本将不再支持Python3.5">
                                        <h3>Django3.0 Alpha 发布，此版本将不再支持Python3.5</h3>
                                    </a>
                                    <p>
                                       新版本Django3.0此次引入完整的异步支持，对底层有比较大的重构,不再支持Python
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-27.html" title="View comments">
                                        <span>1</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2019年9月20日 14:42">
                                        2019年09月20日  点击:24186
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-26.html" title="Django常用命令介绍，新手建议阅读">
                                <div class="article__image" style="background-image: url(static/image/mingling.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-26.html" title="Django常用命令介绍，新手建议阅读">
                                        <h3>Django常用命令介绍，新手建议阅读</h3>
                                    </a>
                                    <p>
                                       django里的django-admin和manege.py都是Django的命令工具集，
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-26.html" title="View comments">
                                        <span>2</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2019年4月17日 03:36">
                                        2019年04月17日  点击:34489
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-25.html" title="django视频教程,项目实战,从入门到进阶">
                                <div class="article__image" style="background-image: url(static/image/rumen2.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-25.html" title="django视频教程,项目实战,从入门到进阶">
                                        <h3>django视频教程,项目实战,从入门到进阶</h3>
                                    </a>
                                    <p>
                                       django视频教程,通过项目针对性结合各个知识点实战，让新手快速入门并进阶！
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-25.html" title="View comments">
                                        <span>7</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2019年1月25日 00:58">
                                        2019年01月25日  点击:39450
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-23.html" title="django搭建blog,django快速搭建blog">
                                <div class="article__image" style="background-image: url(static/image/blog.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-23.html" title="django搭建blog,django快速搭建blog">
                                        <h3>django搭建blog,django快速搭建blog</h3>
                                    </a>
                                    <p>
                                       django博客开发教程,用django快速搭建blog,本教程能让你快速的使用Djang
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-23.html" title="View comments">
                                        <span>9</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2018年11月19日 00:44">
                                        2018年11月19日  点击:38370
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-18.html" title="Django身份认证系统auth模块详解">
                                <div class="article__image" style="background-image: url(static/image/auth.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-18.html" title="Django身份认证系统auth模块详解">
                                        <h3>Django身份认证系统auth模块详解</h3>
                                    </a>
                                    <p>
                                       Django 带有一个用户认证系统。用于处理用户帐户，组，权限和基于 cookie 的用户
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-18.html" title="View comments">
                                        <span>0</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2018年9月26日 21:14">
                                        2018年09月26日  点击:25783
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-15.html" title="Django ORM常用操作介绍（新手必看）">
                                <div class="article__image" style="background-image: url(static/image/orm.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-15.html" title="Django ORM常用操作介绍（新手必看）">
                                        <h3>Django ORM常用操作介绍（新手必看）</h3>
                                    </a>
                                    <p>
                                       Django开发过程中对表(model)的增删改查是最常用的功能之一，本文介绍笔者在使用m
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-15.html" title="View comments">
                                        <span>5</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2018年8月15日 22:41">
                                        2018年08月15日  点击:32555
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               
                    <div class="col-md-4 col-sm-6  clear-sm">
                        <article class="article--small">
                            <a href="show-14.html" title="Django2.1发布，Django2.1新特性">
                                <div class="article__image" style="background-image: url( static/image/default.jpg )">
                                </div>
                            </a>
                            <div class="article__content">
                                <div class="article__description">
                                    <a href="show-14.html" title="Django2.1发布，Django2.1新特性">
                                        <h3>Django2.1发布，Django2.1新特性</h3>
                                    </a>
                                    <p>
                                       Django 2.1 现已正式发布，官方表示随着 2.1 的发布，对 2.0 系列的主流支
                                    </p>
                                </div>

                                <div class="article__footer">
                                    <a class="btn-more" href="show-14.html" title="View comments">
                                        <span>1</span>
                                    </a>
                                    <div class="tags">
                                        <a href="" class="article-tag resources">
                                            Django
                                        </a>
                                    </div>

                                    <time class="article__date" datetime="2018年8月12日 12:34">
                                        2018年08月12日  点击:6755
                                    </time>
                                </div>
                            </div>

                        </article>
                    </div>

               

                </div>

                <div class="pagination__container">
                    <div class="pagination-pages visible-xs">
                        1 - 2
                    </div>
                    <ul class="pagination">
                        
                            <li class="previous disabled"><span></span></li>
                        

                        
                            
                                
                                    <li class="active"><span>1</span></li>
                                
                            
                        
                            
                                
                                    <li><a href="article-Django_2.html">2</a></li>
                                
                            
                        

                        
                            <li class="next"><a href="article-2_Django.html" rel="next"></a></li>
                        
                    </ul>
                </div>

            </div>
        </div>
    </main>

    
    <footer>
	 <h3>加入Django中文交流社区，分享交流，携手同行</h3>

	  <ul class="list-inline">
				<li><a href="index.html" class="neon">首 页</a></li>
				<li><a href="article.html" class="neon">文 章</a></li>
                <li><a href="course.html" class="neon">教 程</a></li>
                <li><a href="video.html" class="neon">视 频</a></li>
				<li><a href="forum.html" class="neon">社 区</a></li>
				<li><a href="about.html" class="neon">关于我们</a></li>
				<li><a href="contact.html" class="neon">联系我们</a></li>

	  </ul>

		<p class="copyright">Copyright © 2018 <a href="index1.html" target="_blank">django.cn</a>
			<span class="second-line">All Rights Reserved.</span><br>
            Powered by <a href="index.html">Django3</a><br>
           <a href="https://beian.miit.gov.cn" target="_blank">备案号：湘ICP备17023990号-1</a>
		</p>
</footer>

</div>

    <!-- JavaScripts -->

    <script type="text/javascript">

  $('#confirm-delete').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  // var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var aid = button.data('aid')
  var id = button.data('id')
  var tag = button.data('tag')
  var modal = $(this)
  // modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('input[name="aid"]').val(aid)
  modal.find('input[name="id"]').val(id)
  modal.find('input[name="tag"]').val(tag)

  // console.log('ok')
})

  // btn_delete_comment
  $('#btn_delete_comment').click(function(event){
    // var form = new FormData(document.getElementById("delete_comment"))
    // var pwd1 = $('#change-pwd [name="password1"]').val()
    console.log('in comment delete')
    var aid = $('#delete_comment [name="aid"]').val()
    var id = $('#delete_comment [name="id"]').val()
    var tag = $('#delete_comment [name="tag"]').val()
    var token = $('#delete_comment [name="csrfmiddlewaretoken"]').val()
    if(!tag){
        return
    }

    var form = new FormData();
    form.append("id", 'id');
    form.append("csrfmiddlewaretoken", token);
    form.append('method','delete')

        $.ajax({
            type: 'POST',
            url: '/comment/'+id+'/',
            // data:'json',
            processData: false,
            contentType: false,
            data: form,
            success: function(response) {
                if(tag == 'forum'){
                    window.location.href = '/forum/forum-'+aid+'.html';
                }
                if(tag == 'article'){
                    window.location.href = '/article/show-'+aid+'.html';
                }
                if(tag == 'course'){
                    window.location.href = '/course/show-'+aid+'.html';
                }
            }
        })
  })
</script>
 <script src="static/js/bundle.js"></script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>
