{% extends "base.html" %}
{% load static %}
{% block title_block %}
    Blog Details
{% endblock title_block %}
{% block body_block %}
    <main class="main-content" id="main_content">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <!-- Article content will go here -->
                        <div class="post__header">
                            <h2>{{ post.title }}</h2>
                            <div class="container">
                                <h1>Lorem Ipsum: The Design Essential</h1>
                                <p>
                                    Lorem Ipsum has become synonymous with the design process, serving as the quintessential placeholder text for designers worldwide. Its nonsensical arrangement of words and letters provides the perfect backdrop for visual elements to shine. Designers rely on Lorem Ipsum to maintain focus on layout, typography, and overall aesthetics without the distraction of meaningful content. This streamlined approach allows for seamless exploration of design concepts, fostering creativity and innovation in every project.
                                </p>
                                <p>
                                    From website prototypes to print advertisements, Lorem Ipsum remains a cornerstone of the design workflow. Its flexibility and neutrality make it an ideal companion for designers at every stage of the creative process. By using Lorem Ipsum, designers can efficiently test different layouts, font choices, and color schemes, ensuring that the final product meets both aesthetic and functional requirements. With Lorem Ipsum as their guide, designers can iterate rapidly, refining their designs until they achieve perfection.
                                </p>
                                <p>
                                    Lorem Ipsum's enduring popularity stems from its ability to transcend language and context, making it universally applicable in diverse design projects. Whether designing a sleek mobile app interface or a sprawling editorial spread, Lorem Ipsum provides the consistency and structure needed to bring creative visions to life. As the design landscape continues to evolve, Lorem Ipsum remains an invaluable tool, empowering designers to unleash their creativity and deliver compelling visual experiences to audiences around the globe.
                                </p>
                            </div>
                        </div>
                        <div class="post__body">{{ post.body|safe }}</div>
                        <div class="post__footer">
                            <!-- Post footer content -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock body_block %}
