<!DOCTYPE html>
{% extends 'base.html' %}
{% load blogs_template_tags %}
{% load static %}
<html lang="en">
<head>

    <title>
        {% block title_block %}
            Blogs
        {% endblock %}
    </title>
</head>
<body>
{% block body_block %}
    <main class="main-content" style="margin-top: 20px;">
        <div class="content-wrapper">
            <div class="container-fluid articles">
                <div class="row">
                    <div class="section-header">
                        <h2>Blogs</h2>
                        <ul class="section-header__subheading article__tags text-center">
                            <li {% if current_tag == "" %} class="active"
                            {% endif %} style="font-size: large">
                                <a href="{% url 'blog:blogs' %}">All</a>
                            </li>
                            {% for tag in hot_tags %}
                                <li {% if current_tag == tag %} class="active" {% endif %} style="font-size: large">
                                    <a href="{% url 'blog:blogs' tag %}">{{ tag }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% get_all_blogs 9 tag %}

                </div>
            </div>
        </div>
    </main>
{% endblock %}
</body>
</html>
