<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
</head>
<body>
    <a href="{% url 'blog:index' %}">返回首页</a>

    <a href="{% url 'blog:blogs' %}">
        blogs
    </a>

    <a href="{% url 'blog:about' %}">
        about
    </a>

    <a href="{% url 'blog:search_results' %}">
        search_results
    </a>
    
    <a href="{% url 'authentication:login' %}">
        登录
    </a>
    <a href="{% url 'authentication:register' %}">
        注册
    </a>

    <br><br>


    <a href="{% url 'blog:blog_detail' %}">
        blog_detail
    </a>
    
</body>
</html>