<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="zh">
<head>

    <title>
        {% block title_block %}
            Blogs
        {% endblock %}
    </title>
</head>
<body>
{% block body_block %}
<main class="main-content" style="margin-top: 20px;">
    <div class="content-wrapper">
        <div class="container-fluid articles">
            <div class="row">
                <div class="section-header">
                    <h2>Blogs</h2>
                    <ul class="section-header__subheading article__tags text-center">
                        <li class='active' style="font-size: large">
                            <a href="">All</a>
                        </li>

                        <li style="font-size: large">
                            <a href="article-Django.html">Django </a>
                        </li>

                        <li style="font-size: large">
                            <a href="article-python.html">python </a>
                        </li>

                        <li style="font-size: large">
                            <a href="article-Bootstrap.html">Bootstrap </a>
                        </li>

                        <li style="font-size: large">
                            <a href="article-Vue.html">Vue </a>
                        </li>

                        <li style="font-size: large">
                            <a href="article-AdminUI.html">AdminUI </a>
                        </li>

                        <li style="font-size: large">
                            <a href="article-E78EAFE5A283E983A8E7BDB2.html"> </a>
                        </li>

                    </ul>

                </div>

                <div class="col-md-4 col-sm-6  clear-sm">
                   
                <ul>
                 {% if blogs %}
                    {% for blog in blogs %}
                    <article class="article--small">
                        <a href="{{ blog.url }}" title={{ blog.title}}>
                            <!-- <div class="article__image" style="background-image: url({{ blog.img.url }} )"> -->
                            </div>
                        </a>
                        <div class="article__content">
                            <div class="article__description">
                                <a href="{{ blog.url }}" title="{{ blog.title }}">
                                    <h3>{{ blog.title }}</h3>
                                </a>
                                <p>
                                    {{ blog.description }}
                                </p>
                            </div>

                            <div class="article__footer">
                                <a class="btn-more" href="show-39.html" title="View comments">
                                    <span>{{ blog.views }}</span>
                                </a>
                                <div class="tags">
                                        {{ blog.author }}
                                </div>

                                <time class="article__date" datetime="{{ blog.time }}">
                                    {{ blog.time }}
                                </time>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                {% else %}
                <strong class='active' style="font-size: large">
                    There are no blogs present.
                </strong>
                {% endif %}
                  </ul>
                </div>
            </div>

            <div class="pagination__container">
                <div class="pagination-pages visible-xs">
                    1 - 3
                </div>
                <ul class="pagination">

                    <li class="previous disabled"><span></span></li>


                    <li class="active"><span>1</span></li>


                    <li><a href="article-2.html">2</a></li>


                    <li><a href="article-3.html">3</a></li>
                        

                    <li class="next"><a href="article-21.html" rel="next"></a></li>

                </ul>
            </div>

        </div>
    </div>
</main>
{% endblock %}
</body>
</html>
