<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% load static %}
    <head>
        <title>
            {% block title_block %}{{ blog.title }}{% endblock %}
        </title>
    </head>
    <body>
        {% block body_block %}
            <main class="main-content" style=" margin-top:40px;">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-9 article-content">
                                <article class="article--big">
                                    <div class="article__image"
                                         style="background-image: url({{ blog.image.url }})"></div>
                                    <div class="article__content">
                                        <h1 class="article__title">{{ blog.title }}</h1>
                                        <div class="article__body">
                                            <p>{{ blog.content }}</p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        {% endblock %}
    </body>
</html>
