<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<article>

    <h1>title: {{ blog.title }}</h1>
    <p>tags: {{ blog.tag }}</p>
    <p>author: {{ blog.author }}</p>
    <p>comment number: {{ blog.comment_num }}</p>
    <!-- 设置一下图片的大小 -->
    <img src="{{ blog.image.url }}" alt="" width="500px" height="300px">
    <p>date: {{ blog.date }}</p>

    <p>{{ blog.content }}</p>

    <form action="{% url 'comment' blog.id %}" method="post">
        {% csrf_token %}
        <input type="text" name="content">
        <input type="submit" value="submit">
        <p>{{ comment.content }}</p>

    </form>

</article>
</body>
</html>