<!DOCTYPE html>
{% extends 'base.html' %}
{% load blog_template_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>
        {% block title_block %}Home{% endblock %}
    </title>
</head>
<body>
{% block body_block %}
    <section id="hero" class="s-hero">
        <div class="s-hero__slider">
            <div class="s-hero__slide">
                <div class="s-hero__slide-bg"
                     style="background-image: url('../../static/image/12653.jpg')"></div>
                <div class="row s-hero__slide-content animate-this">
                    <div class="column">
                        <h1 class="s-hero__slide-text">
                            <a href="{% url 'blog:blogs' %}">Our Latest news!</a>
                        </h1>
                    </div>

                </div>
            </div>
        </div>
        <!-- end s-hero__slide -->
    </section>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header">
                        <h2>Latest Blogs</h2>
                    </div>
                  
                    {% get_blogs_list %}
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>