{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title_block %}
            {{ user.username }} blogs
        {% endblock %}</title>
</head>

<body>{% block body_block %}
    <div class="page__wrapper page--profile">
        <main class="main-content">
            <div class="hero hero--profile">
            </div>
            <div class="container-fluid">
                <div class="profile row">
                        <div class="col-md-3">
                        <div class="profile__header">
                            <div class="profile__user-avatar"
                                style="background-image: url('{{ user.userProfile.picture.url }}')">
                            </div>
                            <div class="profile__info">
                                <div class="profile__name">
                                    <h4 class="change-name" data-change="name">
                                        {{ user.username }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 profile__content">
                        <div class="tabs">
                            {% include 'manage_tabs.html' %}
                        <div class="tab-content">
                            <div class="section">
                                <div role="tabpanel" class="tab-pane active" id="comments">
                                    <ul class="comments__container list-group">
                                        {% for user_ in users %}
                                            <li class="list-group-item">
                                                <div class="comment__container">
                                                    <div class="comment__wrapper">
                                                        <div class="comment__footer">
                                                            <div class="username">{{ user_.username }}</div>
                                                            <div class="actions">
                                                                    <a href="{% url 'authentication:block_user' user_.id %}"
                                                                       class="btn btn-primary btn-outline pull-right">
                                                                        <span>block</span>
                                                                    </a>
                                                                </div>
                                                            <div class="registered-time">
                                                                Registered time:
                                                                <time style='color:#bababa;font-size: 14px'>{{ user_.date_joined|date:'d-m-Y H:i:s' }}</time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
</body>

</html>