<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {#    {% for blog in blogs %}#}
        {#    <div>{{ blog.content|safe }}</div>#}
        {#    {% endfor %}#}
        <form action="{% url 'blog:publish' %}"
              method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title }}
            {{ form.image }}
            {{ form.tag }}
            {{ form.media }}
            {{ form.content }}
            <input type="submit" value="提交">
        </form>
    </body>
</html>
