{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title_block %}
    Publish
{% endblock title_block %}
{% block body_block %}
    <!-- <style>
        #
        {{ form.image.id_for_label }}
        {
            display: none
        ;
        }
    </style> -->
    <main class="main-content" id="main_content">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <form action="{% url 'blog:publish' %}"
                              method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ form.title.id_for_label }}">Title:</label>
                                {{ form.title|add_class:"form-control"}}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.tag.id_for_label }}">Tag:</label>
                                {{ form.tag|add_class:"form-control"}}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.image.id_for_label }}" id="image-label">Background:</label>
                                <button type="button" id="upload-btn" class="btn btn-primary btn-outline">Upload Image</button>
                                <input id='img_box' type="file" name="image"
                                       accept="image/gif, image/jpeg, image/png, image/jpg" style="display: none;">
                                <span id="file-name">No file chosen</span>
                                {{ form.image }}
                            </div>
                            <div class="form-group">
                                {{ form.media }}
                                {{ form.content }}
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
