{% load custom_filters %}
<ul>
    {% if blogs_latest %}
        <!--list blogs in latest blogs from blog.views-->
    {% for blog in blogs_latest %}
    <div class="col-md-4 col-sm-6  clear-sm ">
        <article class="article--small">
            <a href="{% url 'blog:blog_detail' blog.slug %}" title="{{ blog.title }}">
                <div class="article__image" style="background-image: url('{{ blog.image.url }}')"></div>
            </a>
            <div class="article__content">
                <div class="article__description">
                    <a href="{% url 'blog:blog_detail' blog.slug %}" title="{{ blog.title }}">
                        <!-- 判断blog.title的长度，如果长度大于25，截取前25个字符，否则显示全部字符 -->
                        {% if blog.title|length > 25 %}
                            <h3>{{ blog.title|first_non_empty_character|slice:":25" }}...</h3>
                        {% else %}
                            <h3>{{ blog.title|first_non_empty_character }}</h3>
                        {% endif %}

                        <!-- <h3>{{ blog.title|first_non_empty_character|slice:":20" }}...</h3> -->
                    </a>
                    <p>{{ blog.content|first_non_empty_character }}</p>
                </div>
                <div class="article__footer">
                    <a class="btn-more" href="{% url 'blog:blog_detail' blog.slug %}" title="View comments">
                        <!-- set the comment number -->
                        <!-- {{ blog.comments.count }} -->
                        <span>{{ blog.comments.count}}</span>
                    </a>
                    <div class="tags">{{ blog.tag }}</div>
                    <time class="article__date" datetime="{{ blog.date|date:'d-m-Y H:i:s' }}">
                        {{ blog.date|date:'d-m-Y H:i:s' }}
                    </time>
                </div>
            </div>
        </article>
    </div>
    {% endfor %}
    {% else %}
    <strong class='active' style="font-size: large">
        There are no blogs present.
    </strong>
    {% endif %}
</ul>