<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>valianna222@gmail.com个人资料信息-Django中文网,django社区！</title>
    <link rel="apple-touch-icon" href="/static/images/icon-touch.png">
    <link rel="icon" sizes="192x192" href="/static/images/icon-touch.png">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Django">
    <meta name="application-name" content="Django">
    <meta name="theme-color" content="#ffffff">
    <link href="/static/src/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/src/css/app-4b73176c84.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/src/css/toastr.min.css">
    <script type="text/javascript" async="" src="/static/src/js/dc.js"></script>


    <script src="/static/src/js/jquery.min.js"
        integrity="sha384-I6F5OKECLVtK/BL+8iSLDEHowSAfUo76ZL9+kGAgTRdiByINKJaqTPH/QVNS1VDb"
        crossorigin="anonymous"></script>
    <script src="/static/src/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?9b0ccd50ff8935f331889174a8280dc2";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
    <div id='gender_msg_model' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style='height: 100px'>
                更改成功
            </div>
        </div>
    </div>
    <div class="page__wrapper page--profile">
        <header class="header--main animate-search no-background-xs">
            <div class="container-fluid">
                <!-- .nav--main -->
                <nav class="nav--main">
                    <div class="nav__logo">
                        <a href="/">
                            Django<span>中文网</span>
                        </a>
                    </div>
                    <ul class="nav__items nav__items--right">
                        <li class="nav__item">
                            <a href="/search/" class="search-trigger icon-magnifier"></a>
                        </li>



                        <li class="nav__item dropdown account">
                            <a class="dropdown-toggle user" href="/user/settings/" data-toggle="dropdown" role="button"
                                aria-expanded="false">
                                <div class="section__user-avatar"
                                    style="background-image: url('/media/avatar/default.gif')"></div>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="dropdown-item">
                                    <div class="section__user-avatar"
                                        style="background-image: url('/media/avatar/default.gif')"></div>
                                    <div class="profile__info">
                                        <div class="profile__name">
                                            valianna222@gmail.com
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown-item">
                                    <a href="/user/comment/" class="profile">
                                        我的
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="/user/settings/" class="settings">
                                        设置
                                    </a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="/user/logout/" class="logout">
                                        退出
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav__items nav__items--left">
                        <li class="nav__item nav__item--main">
                            <a href="/article/" class="articles ">
                                文章
                            </a>
                        </li>
                        <li class="nav__item nav__item--main">
                            <a href="/article/" class="articles ">
                                教程
                            </a>
                        </li>
                        <li class="nav__item nav__item--main">
                            <a href="/forum/" class="posts ">
                                社区
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <a href="/user/settings/" class="nav-trigger icon-menu"></a>
            <div id="search" class="main-search">
                <div class="container-fluid">
                    <form id="search-form-top" class="form__search" action="/search/" method="GET">
                        <input type="search" name="search" placeholder="Search..." value="" autocomplete="off"
                            required="">
                    </form>
                    <div class="search-suggestions">
                    </div>
                    <a href="/user/settings/" class="close text-replace">Close Form</a>
                </div>
            </div>
            <!-- .main-search -->
        </header>
        <div class="cover-layer"></div>
        <!-- cover main content when search form is open -->
        <main class="main-content">
            <div class="hero hero--profile">
            </div>
            <div class="container-fluid">
                <div class="profile row">
                    <div class="col-md-3">
                        <div class="profile__header">
                            <div class="profile__user-avatar"
                                style="background-image: url('/media/avatar/default.gif')"></div>
                            <div class="profile__info">
                                <div class="profile__name">
                                    <h4 class="change-name" data-change="name">
                                        valianna222@gmail.com
                                    </h4>
                                    <span>

                                    </span>
                                    <h5></h5>
                                </div>

                                <blockquote class="profile__description change-description" data-change="description"
                                    style="display:none">
                                </blockquote>
                                <!--'data-hide=meta data-default=#default-links'-->
                                <ul class="profile__links" style="">
                                    <li class="profile__link-item change-github" data-change="github"
                                        style="display: none;" data-modify="href">
                                        <a href="/user/settings/" target="_blank" rel="nofollow noreferrer noopener"
                                            title="Github URL">
                                            <span class="link__icon link__icon--github"></span>
                                            <div class="change-github" data-change="github">
                                            </div>
                                        </a>
                                    </li>
                                    <li class="profile__link-item change-twitter" data-change="twitter"
                                        style="display: none;" data-modify="href">
                                        <a href="/user/settings/" target="_blank" rel="nofollow noreferrer noopener"
                                            title="Twitter URL">
                                            <span class="link__icon link__icon--twitter"></span>
                                            <div class="change-twitter" data-change="twitter">

                                            </div>
                                        </a>
                                    </li>
                                    <li class="profile__link-item change-website" data-change="website"
                                        style="display: none;" data-modify="href">
                                        <a href="/user/settings/" target="_blank" rel="nofollow noreferrer noopener"
                                            title="Website URL">
                                            <span class="link__icon link__icon--website"></span>
                                            <div class="change-website" data-change="website">

                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 profile__content">
                        <div class="tabs">
                            <div class="tabs-profile">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation">
                                        <a href="/user/comment/valianna222@gmail.com/" aria-controls="home" role="tab">

                                            <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                                            评论 (0)
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="/user/forum/valianna222@gmail.com/" aria-controls="home" role="tab">

                                            <i class="icon-settings" aria-hidden="true" title="Settings"></i>

                                            帖子 (0)
                                        </a>
                                    </li>
                                    </li>

                                    <li role="presentation" class="active">
                                        <a href="/user/settings/" aria-controls="home" role="tab">
                                            <i class="icon-settings" aria-hidden="true" title="Settings"></i>

                                            个人设置
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="tab-content">


                                <div role="tabpanel" class="tab-pane active" id="settings">

                                    <div class="section">
                                        <ul class="profile__settings">
                                            <li class="settings__section">
                                                <h3>
                                                    个人信息
                                                </h3>
                                                <ul class="settings__subsection">
                                                    <li>
                                                        <a href="/user/settings/"
                                                            class="btn btn-primary btn-outline pull-right"
                                                            data-toggle="form" data-target="#change-username"
                                                            data-change=".change-username" data-elem="#elem-username"
                                                            data-default="#default-username">
                                                            <span>编辑</span>
                                                        </a>
                                                        <h4>昵称</h4>
                                                        <p id="elem-username" class="change-username"
                                                            data-change="username" style="">
                                                            valianna222@gmail.com
                                                        </p>
                                                        <p id="default-username" style="display: none;">
                                                            你还未设置昵称。。。
                                                        </p>
                                                        <form id="change-username" action="/user/settings/"
                                                            method="POST" style="display: none;">
                                                            <input type="hidden" name="csrfmiddlewaretoken"
                                                                value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <input name="username" type="text"
                                                                        class="form-control filled"
                                                                        value="valianna222@gmail.com" required="">
                                                                </div>
                                                            </div>
                                                            <input type="submit" class="btn btn-primary" value="修改">
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="form"><span>取消</span></button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <a href="/user/settings/"
                                                            class="btn btn-primary btn-outline pull-right"
                                                            data-toggle="form" data-target="#change-info"
                                                            data-change=".change-info" data-elem="#elem-info"
                                                            data-default="#default-info">
                                                            <span>编辑</span>
                                                        </a>
                                                        <h4>个人简介</h4>
                                                        <p id="elem-info" class="change-info" data-change="info"
                                                            style="display: none;">
                                                            你还未填写个人简介。。。
                                                        </p>
                                                        <p id="default-info" style="">

                                                        </p>
                                                        <form id="change-info" action="/user/settings/" method="POST"
                                                            style="display: none;">
                                                            <input type="hidden" name="csrfmiddlewaretoken"
                                                                value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <textarea name="info" type="text"
                                                                        class="form-control" maxlength="500"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" class="btn btn-primary" value="修改">
                                                                <button type="button" class="btn btn-default"
                                                                    data-dismiss="form"><span>取消</span></button>
                                                            </div>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <a href="/user/settings/"
                                                            class="btn btn-primary btn-outline pull-right"
                                                            data-toggle="form" data-target="#change-email"
                                                            data-change=".change-email" data-elem="#elem-email"
                                                            data-default="#default-email">
                                                            <span>编辑</span>
                                                        </a>
                                                        <h4>Email</h4>
                                                        <p id="elem-email" class="change-email" data-change="email"
                                                            style="">
                                                            valianna222@gmail.com
                                                        </p>
                                                        <p id="default-email" style="display: none;">
                                                            还未设置邮箱。。。
                                                        </p>
                                                        <form id="change-email" action="/user/settings/" method="POST"
                                                            style="display: none;">
                                                            <input type="hidden" name="csrfmiddlewaretoken"
                                                                value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <input name="email" type="text"
                                                                        class="form-control filled"
                                                                        value="valianna222@gmail.com" required="">
                                                                </div>
                                                            </div>
                                                            <input type="submit" class="btn btn-primary" value="修改">
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="form"><span>取消</span></button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <a href="/user/settings/"
                                                            class="btn btn-primary btn-outline pull-right"
                                                            data-toggle="form" data-target="#change-qq"
                                                            data-change=".change-qq" data-elem="#elem-qq"
                                                            data-default="#default-qq">
                                                            <span>编辑</span>
                                                        </a>
                                                        <h4>QQ</h4>
                                                        <p id="elem-qq" class="change-qq" data-change="qq" style="">
                                                            还未设置qq
                                                        </p>
                                                        <p id="default-qq" style="display: none;">
                                                            还未设置qq。。。
                                                        </p>
                                                        <form id="change-qq" action="/user/settings/" method="POST"
                                                            style="display: none;">
                                                            <input type="hidden" name="csrfmiddlewaretoken"
                                                                value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <input name="qq" type="text"
                                                                        class="form-control filled" value=""
                                                                        required="">
                                                                </div>
                                                            </div>
                                                            <input type="submit" class="btn btn-primary" value="修改">
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="form"><span>取消</span></button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <a href="/user/settings/"
                                                            class="btn btn-primary btn-outline pull-right"
                                                            data-toggle="form" data-target="#change-mobile"
                                                            data-change=".change-mobile" data-elem="#elem-mobile"
                                                            data-default="#default-mobile">
                                                            <span>编辑</span>
                                                        </a>
                                                        <h4>手机号</h4>
                                                        <p id="elem-mobile" class="change-mobile" data-change="mobile"
                                                            style="">
                                                            还未设置手机号
                                                        </p>
                                                        <p id="default-mobile" style="display: none;">
                                                            还未设置手机号。。。
                                                        </p>
                                                        <form id="change-mobile" action="/user/settings/" method="POST"
                                                            style="display: none;">
                                                            <input type="hidden" name="csrfmiddlewaretoken"
                                                                value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <input name="mobile" type="text"
                                                                        class="form-control filled" value=""
                                                                        required="">
                                                                </div>
                                                            </div>
                                                            <input type="submit" class="btn btn-primary" value="修改">
                                                            <button type="button" class="btn btn-default"
                                                                data-dismiss="form"><span>取消</span></button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <h4>性别</h4>
                                                        <div class='disabled' style="padding-left:30px">
                                                            <form action="/user/settings/" method="POST"
                                                                id='gender_radio' class="form-inline">
                                                                <input type="hidden" name="csrfmiddlewaretoken"
                                                                    value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                                <div class="form-group">
                                                                    <!-- <div class='controls'> -->
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="gender"
                                                                                class="optionsRadios" value="male"
                                                                                checked='checked'>

                                                                            男
                                                                        </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                            <input type="radio" name="gender"
                                                                                class="optionsRadios" value="female"> 女
                                                                        </label>
                                                                    </div>
                                                                    <!-- </div> -->
                                                                </div>
                                                                <div id='gender_radio_msg' class="alert alert-success">
                                                                    <!-- <a class="close" data-dismiss="alert" href="#">&times;</a> -->
                                                                    更改成功
                                                                </div>
                                                            </form>
                                                            <div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h4>出生日期</h4>
                                                            <form action="/user/settings/" method="POST"
                                                                id='user_birday' class='form-inline'>
                                                                <input type="hidden" name="csrfmiddlewaretoken"
                                                                    value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                                <div class="form-group">
                                                                    <input type="date" id="datetimepicker" name='birday'
                                                                        class="form-control" value='' placeholder="">
                                                                </div>
                                                                <input type="button" class="btn btn-primary pull-right"
                                                                    value="修改出生日期" id='set_birday'>
                                                            </form>
                                                            <div id='birday_msg' class="alert alert-success">
                                                                更改成功
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <h4>头像</h4>
                                                            <form action="/user/settings/" method="POST" id='myimage'
                                                                enctype="multipart/form-data" class='form-inline'>
                                                                <input type="hidden" name="csrfmiddlewaretoken"
                                                                    value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                                <div class="form-group">
                                                                    <input id='img_box' type="file" name="image"
                                                                        accept="image/gif, image/jpeg, image/png, image/jpg">
                                                                </div>
                                                                <input type="submit" class="btn btn-primary pull-right"
                                                                    value="修改头像" id='set_birday'>
                                                                <div style='color:red'>

                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <div style='height: 10px'></div>
                                                            <a href="/user/settings/"
                                                                class="btn btn-primary btn-outline pull-right"
                                                                data-toggle="form" data-target="#change-pwd">
                                                                <span>修改密码</span>
                                                            </a>
                                                            <h4>密码</h4>
                                                            <form id="change-pwd" action="/user/settings/" method="POST"
                                                                style="display: none;">
                                                                <input type="hidden" name="csrfmiddlewaretoken"
                                                                    value="R31LLtb9iRJvU2YyJQi9pcgSKJwalNj53a0WxIKSqByb5t0AmNZpFbvtfW3yyLbC">
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <input name="password" type="text"
                                                                            class="form-control filled"
                                                                            placeholder="输入新密码">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="controls">
                                                                        <input name="password1" type="text"
                                                                            class="form-control filled"
                                                                            placeholder="再次输入新密码">
                                                                    </div>
                                                                </div>
                                                                <div id='pwd_msg' class="alert alert-danger">
                                                                </div>
                                                                <input type="button" class="btn btn-primary" value="修改"
                                                                    id='set_pwd'>
                                                                <button type="button" class="btn btn-default"
                                                                    data-dismiss="form"><span>取消</span></button>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <style type="text/css">
                                    #gender_radio_msg {
                                        display: none
                                    }

                                    #birday_msg {
                                        display: none
                                    }

                                    #img_box {
                                        width: auto;
                                        height: auto;
                                        position: relative;
                                        opacity: 1;
                                        z-index: 1000;
                                    }

                                    #pwd_msg {
                                        display: none;
                                    }
                                </style>
                                <script type="text/javascript">
                                    $('.optionsRadios').click(function (e) {
                                        var g = $('#gender_radio [name="gender"]:checked').val()

                                        var token = $('#gender_radio [name="csrfmiddlewaretoken"]').val()

                                        // var form = new FormData(document.getElementById("gender_radio"))
                                        var form = new FormData();
                                        form.append("gender", g);
                                        form.append("csrfmiddlewaretoken", token);
                                        // console.log('ok')
                                        $.ajax({
                                            type: 'POST',
                                            url: '/user/settings/',
                                            // data:'json',
                                            processData: false,
                                            contentType: false,
                                            data: form,
                                            success: function (response) {
                                                console.log(response)
                                                // $.alert('更改成功')
                                                $('#gender_radio_msg').show()
                                                setTimeout(function () {
                                                    $('#gender_radio_msg').hide(); //将DIV标签隐藏。
                                                }, 1000);
                                            }
                                        })

                                    })


                                    $('#set_birday').click(function (e) {
                                        var form = new FormData(document.getElementById("user_birday"))
                                        $.ajax({
                                            type: 'POST',
                                            url: '/user/settings/',
                                            // data:'json',
                                            processData: false,
                                            contentType: false,
                                            data: form,
                                            success: function (response) {
                                                console.log(response)
                                                // $.alert('更改成功')
                                                $('#birday_msg').show()
                                                setTimeout(function () {
                                                    $('#birday_msg').hide(); //将DIV标签隐藏。
                                                }, 1000);
                                            }
                                        })
                                    })

                                    $('#set_pwd').click(function (e) {
                                        var pwd = $('#change-pwd [name="password"]').val()
                                        var pwd1 = $('#change-pwd [name="password1"]').val()
                                        if (pwd != pwd1) {
                                            $("#pwd_msg").text('两次密码不一样').show()
                                            return false
                                        }

                                        var token = $('#change-pwd [name="csrfmiddlewaretoken"]').val()

                                        // var form = new FormData(document.getElementById("gender_radio"))
                                        var form = new FormData();
                                        form.append("password", pwd);
                                        form.append("csrfmiddlewaretoken", token);
                                        $.ajax({
                                            type: 'POST',
                                            url: '/user/settings/',
                                            // data:'json',
                                            processData: false,
                                            contentType: false,
                                            data: form,
                                            success: function (response) {
                                                console.log('ok', response)
                                                window.location.href = '/user/login/';
                                            },
                                            error: function (response) {
                                                console.log('err', response)
                                                if (response.status == 200) {
                                                    window.location.href = '/user/login/';
                                                } else {
                                                    $("#pwdmsg").text(response.responseText).show()
                                                }
                                            }
                                        })
                                    })

                                    $('#pwd_msg').click(function (e) {
                                        $('#pwd_msg').hide()
                                    })
                                </script>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <h3>加入Django中文交流社区，分享交流，携手同行</h3>

            <ul class="list-inline">
                <li><a href="/" class="neon">首 页</a></li>
                <li><a href="/article/" class="neon">文 章</a></li>
                <li><a href="/forum/" class="neon">社 区</a></li>
                <li><a href="/about/" class="neon">关于我们</a></li>
                <li><a href="/contact/" class="neon">联系我们</a></li>
            </ul>

            <p class="copyright">Copyright © 2018 <a href="http://www.django.cn/" target="_blank">django.cn</a>
                <span class="second-line">All Rights Reserved.</span><br />
                Powered by Django<br />
                湘ICP备17023990号-1
            </p>
        </footer>

        <!-- JavaScripts -->

        <script src="/static/src/js/highlight.min.js"></script>
        <script src="/static/src/js/toastr.min.js"></script>
        <script src="/static/src/js/bundle-66d4e33989.js"></script>
</body>

</html>