<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% load static %}
<head><title>
    {% block title_block %}
        Password Reset
    {% endblock title_block %}
</title>
</head>
>
<body>
{% block body_block %}
    <div style="height: 150px; width: 100%"></div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-centered">
                    <div class="section"
                         style="-moz-border-radius: 10px;
                                -webkit-border-radius: 10px;
                                border-radius: 15px">
                        <div class="panel-heading">
                            <i class="icon-user icon-form"></i>
                            <h2>Password Reset</h2>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal form--flex"
                                  role="form"
                                  method="POST"
                                  action="{% url 'authentication:password_reset_confirm' token %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="controls">
                                        <input id="id_new_password1" type="password" class="form-control"
                                               name="new_password1" required="">
                                        <label for="id_new_password1" data-content="New Password">New Password</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="controls">
                                        <input id="id_new_password2" type="password" class="form-control"
                                               name="new_password2" required="">
                                        <label for="id_new_password2" data-content="New Password Confirmation">New
                                            Password Confirmation</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">
                                        <span>Reset Password</span>
                                    </button>
                                </div>

                                {% if success_message %}
                                    <strong>{{ success_message }}</strong>
                                {% endif %}

                                {% if error_message %}
                                    <strong>{{ error_message }}</strong>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_block %}
{% block sidebar_block %}{% endblock %}
</body>
</html>


