<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>

<body>
    {% if registered %}
    <p>注册成功</p>
    {% else %}
    <!-- enctype="multipart/form-data"设置这个字段是为了告知浏览器打包发送文件（图片文件） -->
    <form method="post" action="{% url 'authentication:register' %}" enctype="multipart/form-data">
        <!-- 防止跨站请求伪造，这个也必须得有，否则会报错 -->
        {% csrf_token %}

        <!-- {{ user_form.as_p }} -->
        <!-- {{ profile_form.as_p }} -->
        <!-- {{ user_form.errors }} -->

        {{ user_form.username.label_tag }}
        {{ user_form.username }}
        <br>

        {{ user_form.password.label_tag }}
        {{ user_form.password }}
        <br>


        {{ user_form.email.label_tag }}
        {{ user_form.email }}
        <br>


        {{ profile_form.picture.label_tag }}
        {{ profile_form.picture }}
        <br>

        <input type="submit" value="Register">

        {% if user_form.errors %}
        <p>{{ user_form.non_field_errors }}</p>
        <ul>
            {% for field in user_form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
    </form>
    {% endif %}

    <a href="{% url 'authentication:login' %}">登录</a>
    <a href="{% url 'authentication:password_reset' %}">忘记密码</a>
    <a href="{% url 'blog:index' %}">返回首页</a>


</body>

</html>