<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if registered %}
        <p>注册成功</p>
    {% else %}
        <form method="post" action="/authentication/register/">
            <!-- 防止跨站请求伪造 -->
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" value="Register">
        </form>
    {% endif %}
</body>
</html>
