<div class="tabs-profile">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"{% if current_page == 'profile_comments' %} class="active{% endif %}">
                <a href="{% url 'blog:profile_comments' %}" aria-controls="home" role="tab">
                    <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                    Comments
                </a>
            </li>
            <li role="presentation" {% if current_page == 'profile_blogs' %}class="active{% endif %}">
                <a href="{% url 'blog:profile_blogs' %}" aria-controls="home" role="tab">
                    <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                    Blogs
                </a>
            </li>
            <li role="presentation" {% if current_page == 'profile_settings' %}class="active{% endif %}">
                <a href="{% url 'blog:profile_settings' %}" aria-controls="home" role="tab">
                    <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                    Setting
                </a>
            </li>

            <!-- 判断用户是否为员工 -->
            {% if user.is_staff %}
                <li role="presentation" {% if current_page == 'manage_accounts' %} class="active{% endif %}">
                    <a href="{% url 'blog:manage_all_accounts' %}" aria-controls="home"
                       role="tab">
                        <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                        Manage Accounts
                    </a>
                </li>
                <li role="presentation" {% if current_page == 'manage_blogs' %} class="active{% endif %}">
                    <a href="{% url 'blog:manage_all_blogs' %}" aria-controls="home" role="tab">
                        <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                        Manage Blogs
                    </a>
                </li>
                <li role="presentation" {% if current_page == 'manage_comments' %} class="active{% endif %}">
                    <a href="{% url 'blog:manage_all_comments' %}" aria-controls="home"
                       role="tab">
                        <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                        Manage Comments
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
