<!doctype html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="baidu-site-verification" content="code-vmxuLrnTAi">
    
    <title>django教程,django视频教程,Django博客教程,django开发教程-django博客开发教程-Django</title>
    <meta name="description" content="这是一个让人可以快速入门的Django教程，一天就可以学会的Blog项目教程。">
    <meta name="keywords" content="django教程,django视频教程,Django博客教程,django开发教程,django博客开发教程,Django">

    <link rel="stylesheet" type="text/css" href="static/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/mian.css">
</head>
<body>
<div class="topmenu" id="tophead">
    <div class="wrap">
        <div id="mobilemenu"></div>
        <div class="mask"></div>
        <div class="logo"><a href="">
            <img src="static/picture/1-210p2115612a7.jpg" alt="Django博客教程-django教程-django博客开发教程-Django" width="280" height="70"></a>
        </div>
        <div class="menu">
            <ul id="nav">
                <li class="closex"><i class="iconfont icon-guanbi"></i></li>
                <li class="mainlevel"><a href="">网站首页</a></li>
                
                    <li class="mainlevel"><a class="" href="/list-1.html">Django教程</a>
                    </li>
                
                    <li class="mainlevel"><a class="" href="/list-2.html">Python教程</a>
                    </li>
                
                    <li class="mainlevel"><a class="" href="/list-3.html">科技资讯</a>
                    </li>
                
                    <li class="mainlevel"><a class="" href="/list-4.html">数据库知识</a>
                    </li>
                
                <li class="mainlevel"><a class="" href="/page-1.html">关于我们</a></li>

                <div class="clear"></div>
            </ul>
        </div>
        <div class="search"><i class="iconfont icon-sousuo"></i></div>
    </div>
</div>


    <div class="main">
        <div class="wrap">
            <div class="row">
                <div class="banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            

                                <div class="swiper-slide" style="background-image:url(static/image/1-2003301i501459.jpg)">
                                    <a href="show-31.html" title="Django开发blog详细教程">
                                        <div class="title"><span>Django开发blog详细教程</span>
                                        </div>
                                    </a>
                                </div>
                            

                                <div class="swiper-slide" style="background-image:url(static/image/15u55tf2c10-193z9.jpg)">
                                    <a href="show-31.html" title="Django入门教程">
                                        <div class="title"><span>Django入门教程</span>
                                        </div>
                                    </a>
                                </div>
                            

                                <div class="swiper-slide" style="background-image:url(static/image/1-2003301i444191.jpg)">
                                    <a href="index.html" title="Django中文网">
                                        <div class="title"><span>Django中文网</span>
                                        </div>
                                    </a>
                                </div>
                            

                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="top-news">
                    <div class="top-post-box" style="background-color:#FFFFFF">
                        <h2>重点推荐</h2>
                        <div class="top-img">
                            
                                <a href="/post-27.html"><img src="static/picture/001.jpg" alt="mysql在线学习-求mysql视频教程的资源" width="370" height="180"></a>
                            
                        </div>
                        <div class="top-box">
                            <ul class="topnews">
                                

                                    <li><a href="/post-16.html"><i class="iconfont icon-huoyan red"></i>请问各位大神 如何用Django写一个新闻管理系统</a></li>
                                

                                    <li><a href="/post-15.html"><i class="iconfont icon-huoyan red"></i>django实战教程</a></li>
                                

                                    <li><a href="/post-14.html"><i class="iconfont icon-huoyan red"></i>django教程哪里有下载</a></li>
                                

                                    <li><a href="/post-13.html"><i class="iconfont icon-huoyan red"></i>django教程视频在线</a></li>
                                

                                    <li><a href="/post-8.html"><i class="iconfont icon-huoyan red"></i>如何学习python</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="hotnews">
        <div class="wrap">
            <div class="row">
                
                    <div class="hotnewlist"><a href="/post-23.html" target="_blank">
                        <div class="hotdiv" style="background-image:url(http://blog-demo.django.cn/media/article_img/2021_11_16/006.webp);">
                            <div class="overlay"></div>
                            <div class="title"><span>数据库知识</span>
                                <h3>python与数据库-sql与python区别是什么？</h3>
                            </div>
                        </div>
                    </a></div>
                
                    <div class="hotnewlist"><a href="/post-10.html" target="_blank">
                        <div class="hotdiv" style="background-image:url(static/image/1.jpg);">
                            <div class="overlay"></div>
                            <div class="title"><span>Python教程</span>
                                <h3>python学习机器学习需要哪些功底</h3>
                            </div>
                        </div>
                    </a></div>
                
                    <div class="hotnewlist"><a href="/post-6.html" target="_blank">
                        <div class="hotdiv" style="background-image:url(static/image/21.jpg);">
                            <div class="overlay"></div>
                            <div class="title"><span>科技资讯</span>
                                <h3>新市井商业，与超5亿老铁共同进击</h3>
                            </div>
                        </div>
                    </a></div>
                


            </div>
        </div>
    </div>

    <div class="mainbody">
        <div class="wrap">
            <div class="row">
                <div class="left">
                    <div class="article_box">
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-28.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/003_qs6dg1D.webp" alt="django中怎么使用两个限定条件在mysql数据库中进行查询"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-28.html" target="_blank" title="django中怎么使用两个限定条件在mysql数据库中进行查询">django中怎么使用两个限定条件在mysq</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-4.html" target="_blank">数据库知识</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 22:15
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 557
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-27.html"><img class="thumbnail" src="static/picture/001.jpg" alt="mysql在线学习-求mysql视频教程的资源"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-27.html" target="_blank" title="mysql在线学习-求mysql视频教程的资源">mysql在线学习-求mysql视频教程的资</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            视图对应的表上有没有默认值的列，该列不包含在视图中。例如，表中包含的名称字段没
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-4.html" target="_blank">数据库知识</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 22:12
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 788
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-26.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/009.webp" alt="django查询条件-django数据表如何多条件查询"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-26.html" target="_blank" title="django查询条件-django数据表如何多条件查询">django查询条件-django数据表如何</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            django查询条件：如何查询多条件django数据表,如何在django中使用两个限定条件在mys
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-1.html" target="_blank">Django教程</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 22:09
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 735
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-25.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/008.webp" alt="django多对多查询-Django怎么多表联合查询"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-25.html" target="_blank" title="django多对多查询-Django怎么多表联合查询">django多对多查询-Django怎么多表</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            django多对多查询：如何进行Django多表联合查询.首先让我们回忆一下第5章中的书籍数据模型：
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-1.html" target="_blank">Django教程</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 22:07
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 670
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-24.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/007.webp" alt="python大数据学习-python大数据短期培训一般学习多长时间?"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-24.html" target="_blank" title="python大数据学习-python大数据短期培训一般学习多长时间?">python大数据学习-python大数据短</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-2.html" target="_blank">Python教程</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 22:04
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 407
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-23.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/006.webp" alt="python与数据库-sql与python区别是什么？"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-23.html" target="_blank" title="python与数据库-sql与python区别是什么？">python与数据库-sql与python区</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            python：Python 是荷兰数学与计算机科学研究会的 Guidovan Rossum 在本世纪
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-4.html" target="_blank">数据库知识</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 22:02
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 624
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-22.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/005.webp" alt="python基础面试题-python笔试题"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-22.html" target="_blank" title="python基础面试题-python笔试题">python基础面试题-python笔试题</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            运行脚本的命令，如何获取v2通过 fromsysimportargv 参数值？ Cpython面试必
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-2.html" target="_blank">Python教程</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 22:00
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 478
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-21.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/003.webp" alt="python基础书籍-好用的python入门书籍"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-21.html" target="_blank" title="python基础书籍-好用的python入门书籍">python基础书籍-好用的python入门</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            理论和实践都恰到好处，文笔逻辑流畅，没有跳跃感，教学上手的感觉，但不罗嗦，非
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-2.html" target="_blank">Python教程</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 17:54
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 406
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-20.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/002.webp" alt="学习Python需要掌握哪些知识?"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-20.html" target="_blank" title="学习Python需要掌握哪些知识?">学习Python需要掌握哪些知识?</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            Python全栈开发和人工智能的Python开发基础知识。学习内容包括：Python基础语法
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-2.html" target="_blank">Python教程</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 17:52
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 483
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="items">
                                <div class="content-box">
                                    <div class="posts-gallery-img"><a href="/post-19.html"><img class="thumbnail" src="http://blog-demo.django.cn/media/article_img/2021_11_16/001.webp" alt="为什么学Python编程与Python基础知识介绍"></a></div>
                                    <div class="posts-gallery-content">
                                        <h2><a href="/post-19.html" target="_blank" title="为什么学Python编程与Python基础知识介绍">为什么学Python编程与Python基础知</a>
                                        </h2>
                                        <div class="posts-gallery-text">
                                            Python是一种集解释性、可编译性、交互性和面向对象于一体的高级脚本语言。 python编程
                                        </div>
                                        <div class="posts-default-info posts-gallery-info">
                                            <ul>
                                                <li class="ico-cat"><i class="iconfont icon-liebiao"></i> <a href="/list-2.html" target="_blank">Python教程</a></li>
                                                <li class="ico-time"><i class="iconfont icon-iconfontshijian"></i> 2021年11月16日 17:50
                                                </li>
                                                <li class="ico-eye"><i class="iconfont icon-yanjing1"></i> 396
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                    </div>
                </div>
                <!-- 右侧 -->
                <div class="right">
                    <div class="widget">
                        <h3><span>文章栏目</span></h3>
                        <div class="widge_tags">
                            <div class="tag-items">
                                
                                    <a href="/list-1.html" style=" border-color: #3b97d7; ">Django教程</a>
                                
                                    <a href="/list-2.html" style=" border-color: #3b97d7; ">Python教程</a>
                                
                                    <a href="/list-3.html" style=" border-color: #3b97d7; ">科技资讯</a>
                                
                                    <a href="/list-4.html" style=" border-color: #3b97d7; ">数据库知识</a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h3><span>随便看看</span></h3>
                        <ul class="recent-posts-widget">
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-4.html"><img src="http://blog-demo.django.cn/media/article_img/2021_11_05/auOmbPuJKpmtOAcpyM7f.webp" class="thumbnail" alt="元宇宙点燃了虚拟偶像？"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-4.html">元宇宙点燃了虚拟偶像？</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>369</span>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-8.html"><img src="http://blog-demo.django.cn/media/article_img/2021_11_06/9.webp" class="thumbnail" alt="如何学习python"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-8.html">如何学习python</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>403</span>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-6.html"><img src="static/picture/2.jpg" class="thumbnail" alt="新市井商业，与超5亿老铁共同进击"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-6.html">新市井商业，与超5亿老铁共同进击</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>347</span>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-7.html"><img src="static/picture/Keep1-1024x761.jpg" class="thumbnail" alt="Keep的拐点何时到来？"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-7.html">Keep的拐点何时到来？</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>355</span>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-24.html"><img src="http://blog-demo.django.cn/media/article_img/2021_11_16/007.webp" class="thumbnail" alt="python大数据学习-python大数据短期培训一般学习多长时间?"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-24.html">python大数据学习-python大数据短期培训一般学习多长时间?</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>407</span>
                                    </div>
                                </li>
                            
                        </ul>
                    </div>
                    <div class="widget_ad">
                        <a href="index.html" target="_blank">
                            <img src="static/picture/django.png">
                        </a>
                    </div>

                    <div class="widget">
                        <h3><span>文章标签</span></h3>
                        <div class="widge_tags">
                            <div class="tag-items">
                                
                                    <a href='/tag/数据库/'>数据库</a>
                                
                                    <a href='/tag/Python基础/'>Python基础</a>
                                
                                    <a href='/tag/Python教程/'>Python教程</a>
                                
                                    <a href='/tag/Django登录/'>Django登录</a>
                                
                                    <a href='/tag/Django部署/'>Django部署</a>
                                
                                    <a href='/tag/新闻资讯/'>新闻资讯</a>
                                
                                    <a href='/tag/HTML/'>HTML</a>
                                
                                    <a href='/tag/Bootstrap/'>Bootstrap</a>
                                
                                    <a href='/tag/mysql/'>mysql</a>
                                
                                    <a href='/tag/python/'>python</a>
                                
                                    <a href='/tag/django/'>django</a>
                                

                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h3><span>阅读排行</span></h3>
                        <ul class="recent-posts-widget">
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-15.html"><img src="http://blog-demo.django.cn/media/article_img/2021_11_06/2_zuNTdmb.webp" class="thumbnail" alt="django实战教程"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-15.html">django实战教程</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>990</span>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-16.html"><img src="http://blog-demo.django.cn/media/article_img/2021_11_06/1_KiC69XQ.webp" class="thumbnail" alt="请问各位大神 如何用Django写一个新闻管理系统"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-16.html">请问各位大神 如何用Django写一个新闻管理系统</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>963</span>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-14.html"><img src="http://blog-demo.django.cn/media/article_img/2021_11_06/3_pWu6tUB.webp" class="thumbnail" alt="django教程哪里有下载"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-14.html">django教程哪里有下载</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>842</span>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-27.html"><img src="static/picture/001.jpg" class="thumbnail" alt="mysql在线学习-求mysql视频教程的资源"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-27.html">mysql在线学习-求mysql视频教程的资源</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>788</span>
                                    </div>
                                </li>
                            
                                <li>
                                    <div class="recent-posts-img">
                                        <a href="/post-13.html"><img src="http://blog-demo.django.cn/media/article_img/2021_11_06/4_dquoLZk.webp" class="thumbnail" alt="django教程视频在线"></a></div>
                                    <div class="recent-posts-title">
                                        <h4 class="tit"><a href="/post-13.html">django教程视频在线</a>
                                        </h4>
                                        <span class="info"><i class="iconfont icon-yanjing1"></i>778</span>
                                    </div>
                                </li>
                            
                        </ul>
                    </div>
                    <div class="widget">
                        <h3><span>关注我们</span></h3>
                        <div class="attentionus">
                            <ul class="items clearfix">
                            <span class="social-widget-link social-link-wechat"> <span class="social-widget-link-count"><i class="iconfont icon-iconfontmoban"></i>微信号</span> <span class="social-widget-link-title">微信联系我</span> <a id="tooltip-s-weixin" href="javascript:void(0);"></a> </span>
                                <span class="social-widget-link social-link-taobao-wangxiao"> <span class="social-widget-link-count"><i class="iconfont icon-taobao1"></i>Django中文网</span>
                                <span class="social-widget-link-title">Django</span> <a href="index.html" target="_blank" rel="nofollow"></a> </span>
                                <span class="social-widget-link social-link-ketang"> <span class="social-widget-link-count">
                                <i class="iconfont icon-xuexi"></i>Django教程</span> <span class="social-widget-link-title">Django</span> <a href="index.html" target="_blank" rel="nofollow"></a> </span>
                            </ul>
                        </div>
                    </div>
                </div>
             <div class="pages">
                        <ul>
                            

                            
                                
                                    <li class="thisclass"><a>1</a></li>
                                
                            
                                
                                    <li><a href="?page=2" data-ey_fc35fdc="html" data-tmp="1">2</a>
                                    </li>
                                
                            
                                
                                    <li><a href="?page=3" data-ey_fc35fdc="html" data-tmp="1">3</a>
                                    </li>
                                
                            
                            
                                <li><a href="?page=2" data-ey_fc35fdc="html" data-tmp="1">下一页</a></li>
                            
                        </ul>
                    </div>
            </div>

        </div>
    </div>


<div class="footer">
    <div class="wrap">
        <div class="social-footer"><a id="tooltip-f-weixin" class="wxii" href="javascript:void(0);"><i class="iconfont icon-iconfontmoban"></i></a> <a class="taobaodibu" href="index.html" target="_blank" rel="nofollow" title="淘宝"><i class="iconfont icon-taobao1"></i></a> <a class="ketangdibu" href="index.html" target="_blank"><i class="iconfont icon-xuexi"></i></a></div>
        <div class="nav-footer">
            <a href="">网站首页</a>
            
                <a class="" href="/list-1.html">Django教程</a>
            
                <a class="" href="/list-2.html">Python教程</a>
            
                <a class="" href="/list-3.html">科技资讯</a>
            
                <a class="" href="/list-4.html">数据库知识</a>
            
            <a class="" href="/page-1.html">关于我们</a>

        </div>
        <div class="copyright-footer">
            <p>Copyright © 2002-2021 Django教程网 版权所有 </p>
        </div>
        <div class="links-footer"><span>友情链接：</span>
            
            <a href="index.html" target="_blank">Django教程 </a>
            
            <a href="index.html" target="_blank">Django中文网 </a>
            
            <a href="index.html" target="_blank">django </a>
            


        </div>
    </div>
</div>
<!-- 返回顶部按钮-->
<div class="backtop" id="backtop"><i class="iconfont icon-xiangshang"></i></div>
<!-- 搜索框-->
<div class="search-box">
    <div class="search-close"><i class="iconfont icon-guanbi"></i></div>
    <div class="search-con">
        <dl class="se">
            <form method="get" action="/s/">
                <dt>
                    <input type="text" name="search" id="keywords" class="search-keyword" value="请输入关键词">
                </dt>
                <dd>
                    <button type="submit"><i class="iconfont icon-sousuo"></i></button>
                </dd>
            </form>
        </dl>
    </div>
</div>
<!-- 微信二维码-->
<div class="f-weixin-dropdown">
    <div class="tooltip-weixin-inner">
        <h3>微信号</h3>
        <div class="qcode"><img src="static/picture/1-210p214245x91.png" width="160" height="160"></div>
    </div>
<i class="iconfont icon-guanbi close_tip"></i></div>
<script type="text/javascript" src="static/js/jquery.min1.js"></script>
<script type="text/javascript" src="static/js/swiper.min.js"></script>
<script type="text/javascript" src="static/js/slide.js"></script>
</body>
</html>