<!DOCTYPE html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人资料信息-Django中文网,django社区！</title>
    <link rel="apple-touch-icon" href="https://www.django.cn/static/images/icon-touch.png">
    <link rel="icon" sizes="192x192" href="https://www.django.cn/static/images/icon-touch.png">
    <link rel="shortcut icon" href="https://www.django.cn/static/images/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Django">
    <meta name="application-name" content="Django">
    <meta name="theme-color" content="#ffffff">
    <link href="static/css/bootstrap.min1.css" rel="stylesheet">
    <link href="static/css/app-4b73176c84.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/toastr.min1.css">
    <script type="text/javascript" async="" src="static/js/dc.js"></script>


    <script src="static/js/jquery.min.js" integrity="sha384-I6F5OKECLVtK/BL+8iSLDEHowSAfUo76ZL9+kGAgTRdiByINKJaqTPH/QVNS1VDb" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?9b0ccd50ff8935f331889174a8280dc2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
 
</head>

<body>
    <div id='gender_msg_model' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style='height: 100px'>
      更改成功
    </div>
  </div>
</div>
    <div class="page__wrapper page--profile">
        <header class="header--main animate-search no-background-xs">
            <div class="container-fluid">
                <!-- .nav--main -->
                <nav class="nav--main">
                    <div class="nav__logo">
                        <a href="index.html">
                            Django<span>中文网</span>
                        </a>
                    </div>
                    <ul class="nav__items nav__items--right">
                        <li class="nav__item">
                            <a href="search.html" class="search-trigger icon-magnifier"></a>
                        </li>
                        
                           <li id="login" class="nav__item">
                                <a href="login.html">
                                    登录
                                </a>
                            </li>
                            <li id="register" class="nav__item">
                                <a href="register.html">
                                    <span class="btn btn-success">注册</span>
                                </a>
                            </li>
                        
                    </ul>
                    <ul class="nav__items nav__items--left">
                        <li class="nav__item nav__item--main">
                            <a href="article.html" class="articles ">
                                文章
                            </a>
                        </li>
                        <li class="nav__item nav__item--main">
                            <a href="article.html" class="articles ">
                                教程
                            </a>
                        </li>
                        <li class="nav__item nav__item--main">
                            <a href="forum.html" class="posts ">
                                社区
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <a href="login2.html" class="nav-trigger icon-menu"></a>
            <div id="search" class="main-search">
                <div class="container-fluid">
                    <form id="search-form-top" class="form__search" action="/search/" method="GET">
                        <input type="search" name="search" placeholder="Search..." value="" autocomplete="off" required="">
                    </form>
                    <div class="search-suggestions">
                    </div>
                    <a href="login2.html" class="close text-replace">Close Form</a>
                </div>
            </div>
            <!-- .main-search -->
        </header>
        <div class="cover-layer"></div>
        <!-- cover main content when search form is open -->
        <main class="main-content">
            <div class="hero hero--profile">
            </div>
            <div class="container-fluid">
                <div class="profile row">
                    <div class="col-md-3">
                        <div class="profile__header">
                            <div class="profile__user-avatar" style="background-image: url('static/image/timg.jpg')"></div>
                            <div class="profile__info">
                                <div class="profile__name">
                                    <h4 class="change-name" data-change="name">
                                        吴秀峰
                                    </h4>
                                    <span>
                            
                                    </span>
                                    <h5></h5>
                                </div>

                                <blockquote class="profile__description change-description" data-change="description" style="display:none">
                                </blockquote>
                                <!--'data-hide=meta data-default=#default-links'-->
                                <ul class="profile__links" style="">
                                    <li class="profile__link-item change-github" data-change="github" style="display: none;" data-modify="href">
                                        <a href="login2.html" target="_blank" rel="nofollow noreferrer noopener" title="Github URL">
                                            <span class="link__icon link__icon--github"></span>
                                            <div class="change-github" data-change="github">
                                            </div>
                                        </a>
                                    </li>
                                    <li class="profile__link-item change-twitter" data-change="twitter" style="display: none;" data-modify="href">
                                        <a href="login2.html" target="_blank" rel="nofollow noreferrer noopener" title="Twitter URL">
                                            <span class="link__icon link__icon--twitter"></span>
                                            <div class="change-twitter" data-change="twitter">
    
                                            </div>
                                        </a>
                                    </li>
                                    <li class="profile__link-item change-website" data-change="website" style="display: none;" data-modify="href">
                                        <a href="login2.html" target="_blank" rel="nofollow noreferrer noopener" title="Website URL">
                                            <span class="link__icon link__icon--website"></span>
                                            <div class="change-website" data-change="website">

                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 profile__content">
                        <div class="tabs">
                            <div class="tabs-profile">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="" aria-controls="home" role="tab">
                                            
                                            <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                                            评论 (130)
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="吴秀峰1.html" aria-controls="home" role="tab">
                                           
                                            <i class="icon-settings" aria-hidden="true" title="Settings"></i>
                                         
                                            帖子  (75)
                                        </a>
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                            <div class="tab-content">
                            
                                    
<div class="section">
    <div role="tabpanel" class="tab-pane active" id="comments">
        <ul class="comments__container list-group">
        
            <li class="list-group-item">
                <div class="comment__container">
                    <div class="comment__wrapper">

                        <div class="comment__footer">
                            标题：<i class="icon-action-redo" aria-hidden="true"></i>
                            <a href="forum-69325.html">
                                请教下django查询问题，开始时间2023-7-15 00:00:00 结束时间2023-7-20 23:59:59，查询统计出每天的数据总和，并输出这几天每天的总和
                            </a>
                            <span class="divider-dot"></span>
                             <time style='color:#bababa;font-size: 14px'>2024-01-06</time>

                        </div>
                        <div class="comment__text">
                            <p>内容：其中，MyModel是Django中的模型类，date_field是存储日期的字段名，my_field是需要统计总和的字段名。请根据实际情况进行修改。这段代码将开始和结束日期之间的每一天都统计出来，并输出每一天的总和。</p>
                        </div>
                    </div>
                </div>                
            </li>
        
            <li class="list-group-item">
                <div class="comment__container">
                    <div class="comment__wrapper">

                        <div class="comment__footer">
                            标题：<i class="icon-action-redo" aria-hidden="true"></i>
                            <a href="forum-69325.html">
                                请教下django查询问题，开始时间2023-7-15 00:00:00 结束时间2023-7-20 23:59:59，查询统计出每天的数据总和，并输出这几天每天的总和
                            </a>
                            <span class="divider-dot"></span>
                             <time style='color:#bababa;font-size: 14px'>2024-01-06</time>

                        </div>
                        <div class="comment__text">
                            <p>内容：from django.db.models import Sum
from datetime import datetime, timedelta

start_date = datetime(2023, 7, 15)
end_date = datetime(2023, 7, 20) + timedelta(days=1)

date_range = []
current_date = start_date
while current_date &amp;lt; end_date:
    date_range.append(current_date)
    current_date += timedelta(days=1)

querysets = []
for date in date_range:
    querysets.append(MyModel.objects.filter(date_field__range=[date, date+timedelta(days=1)]).values(&amp;#x27;date_field&amp;#x27;).annotate(total=Sum(&amp;#x27;my_field&amp;#x27;)))

for queryset in querysets:
    for result in queryset:
        print(result[&amp;#x27;date_field&amp;#x27;], result[&amp;#x27;total&amp;#x27;])
</p>
                        </div>
                    </div>
                </div>                
            </li>
        
            <li class="list-group-item">
                <div class="comment__container">
                    <div class="comment__wrapper">

                        <div class="comment__footer">
                            标题：<i class="icon-action-redo" aria-hidden="true"></i>
                            <a href="forum-21293.html">
                                Django中文网QQ交流群和微信群
                            </a>
                            <span class="divider-dot"></span>
                             <time style='color:#bababa;font-size: 14px'>2023-12-25</time>

                        </div>
                        <div class="comment__text">
                            <p>内容：有了，加我微信VIPdjango</p>
                        </div>
                    </div>
                </div>                
            </li>
        
            <li class="list-group-item">
                <div class="comment__container">
                    <div class="comment__wrapper">

                        <div class="comment__footer">
                            标题：<i class="icon-action-redo" aria-hidden="true"></i>
                            <a href="forum-45781.html">
                                django中的annotate用法请教
                            </a>
                            <span class="divider-dot"></span>
                             <time style='color:#bababa;font-size: 14px'>2023-05-20</time>

                        </div>
                        <div class="comment__text">
                            <p>内容：[https://www.django.cn/forum/forum-61764.html](https://www.django.cn/forum/forum-61764.html)</p>
                        </div>
                    </div>
                </div>                
            </li>
        
            <li class="list-group-item">
                <div class="comment__container">
                    <div class="comment__wrapper">

                        <div class="comment__footer">
                            标题：<i class="icon-action-redo" aria-hidden="true"></i>
                            <a href="forum-45778.html">
                                django bulk_create
                            </a>
                            <span class="divider-dot"></span>
                             <time style='color:#bababa;font-size: 14px'>2023-05-13</time>

                        </div>
                        <div class="comment__text">
                            <p>内容：解决方法通常是检查数据表的唯一约束设置是否正确，并确保没有重复的数据被插入到该字段中。如果数据表中已经存在重复值，需要手动去重或者删除其中一个重复值，以满足唯一约束条件。</p>
                        </div>
                    </div>
                </div>                
            </li>
        
        </ul>

        <div class="pagination__container">
            
            <ul class="pagination">
                <!-- Previous Page Link -->
                
                    <li class="previous disabled"><span></span></li>
                 

                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=1">1</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=2">2</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=3">3</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=4">4</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=5">5</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=6">6</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=7">7</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=8">8</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=9">9</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=10">10</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=11">11</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=12">12</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=13">13</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=14">14</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=15">15</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=16">16</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=17">17</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=18">18</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=19">19</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=20">20</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=21">21</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=22">22</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=23">23</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=24">24</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=25">25</a></li>
                         
                     
                 
                     
                        
                            <li><a href="/user/comment/吴秀峰/?page=26">26</a></li>
                         
                     
                 

                
                    <li class="next"><a href="/user/comment/吴秀峰/?page=2" rel="next"></a></li>
                
            </ul>
            
        </div>
    </div>
</div>
<style>
    .profile .comments__container{
        border:0;
    }
</style>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    <footer>
	  <h3>加入Django中文交流社区，分享交流，携手同行</h3>

	  <ul class="list-inline">
				<li><a href="index.html" class="neon">首 页</a></li>
				<li><a href="article.html" class="neon">文 章</a></li>
				<li><a href="forum.html" class="neon">社 区</a></li>
				<li><a href="about.html" class="neon">关于我们</a></li>
				<li><a href="contact.html" class="neon">联系我们</a></li>
	  </ul>

		<p class="copyright">Copyright © 2018 <a href="index1.html" target="_blank">django.cn</a>
			<span class="second-line">All Rights Reserved.</span><br>
            Powered by Django<br>
            湘ICP备17023990号-1
		</p>
</footer>

    <!-- JavaScripts -->
    
    <script src="static/js/highlight.min.js"></script>
    <script src="static/js/toastr.min.js"></script>
    <script src="static/js/bundle-66d4e33989.js"></script>
</div></body>

</html>
